body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: url('../img/1.png') no-repeat fixed center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 100vh; /* Sets the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Needed for the overlay to position correctly */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
  z-index: -1;
}

header h1, header p {
  z-index: 1; /* Ensures text is above the overlay */
}


section {
  padding: 20px;
  margin: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 50%;
  height: auto;
}

.item p {
  width: 50%;
  padding: 0 20px;
}

#values .item {
  flex-direction: row-reverse;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
