body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: url('../img/1.png') no-repeat fixed center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden; /* To contain the pseudo-element within the header */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the header */
  height: 100%; /* Full height of the header */
  background: rgba(0, 0, 0, 0.7); /* Darker overlay */
  z-index: 1; /* Adjusted z-index */
}

header h1, header p {
  position: relative; /* To bring text to the front */
  z-index: 2; /* Ensures text is above the overlay */
}

section {
  padding: 20px;
  margin: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 25%;
  height: auto;
}

.item p {
  padding: 0 20px;
}

#values .item {
  flex-direction: row-reverse;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
